/* Звільняємо посилання від підкреслень та списки від маркерів */

:root {
  --body-bgcolor: #fff;
  --body-text-color: #434455;
  --logo-color: #4d5ae5;
  --logo-second-half-color: #2e2f42;
  --logo-hover-color: #404bbf;
  --menu-list-link-color: #2e2f42;
  --menu-list-link-hover-color: #404bbf;
  --contact-list-link-color: #434455;
  --contact-list-link-hover-color: #404bbf;
  --hero-bgcolor: #2e2f42;
  --hero-text-color: #fff;
  --hero-title-color: #fff;
  --hero-button-text-color: #fff;
  --hero-button-bgcolor: #4d5ae5;
  --hero-button-hover-bgcolor: #404bbf;
  --benefits-list-title-color: #2e2f42;
  --benefits-text-color: #434455;
  --team-bgcolor: #f4f4fd;
  --team-title-color: #2e2f42;
  --team-member-bgcolor: #fff;
  --team-member-name-color: #2e2f42;
  --team-member-text-color: #434455;
  --portfolio-title-color: #2e2f42;
  --portfolio-name-color: #2e2f42;
  --portfolio-text-color: #434455;
  --page-footer-bgcolor: #2e2f42;
  --foot-logo-color: #4d5ae5;
  --foot-logo-hover-color: #404bbf;
  --foot-logo-part-color: #f4f4fd;
  --foot-text-color: #f4f4fd;
  --body-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
}
h1,
h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* Для кнопки - ручка) та фон */

button {
  cursor: pointer;
  font-family: inherit;
}

/* Задаємо глобальний стиль */

body {
  font-family: var(--body-font-family);
  color: var(--body-text-color);
  background-color: var(--body-bgcolor);
}

/* Header. Вибір шріфта, його ваги, розміру, коліру та ефекти hover/focus для посилання WebStudio. Зміна кольору слова Web */

.head-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--logo-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-head {
  color: var(--logo-second-half-color);
}
.head-logo:hover,
.head-logo:focus {
  color: var(--logo-hover-color);
}

.head-address {
  font-style: normal;
}
/* Зміни навігаційних посилань: колір, вага. Додавання ефектів hover/focus */

.menu-list-link {
  font-weight: 500;
  color: var(--menu-list-link-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-list-link:hover,
.menu-list-link:focus {
  color: var(--menu-list-link-hover-color);
}
/* Зміни контактних посилань: колір. Додавання ефектів hover/focus. Вага за замовчанням правильна. */

.contact-list-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contact-list-link-color);
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--contact-list-link-hover-color);
}

/* Кнопка. Зміна розміру шрифта, його ваги, кольору. Зміна фонового кольору. Задання розміру кнопки та ефектів hover/focus */

.hero {
  background-color: var(--hero-bgcolor);
  color: var(--hero-text-color);
  text-align: center;
}
.hero-title {
  color: var(--hero-title-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  color: var(--hero-button-text-color);
  background-color: var(--hero-button-bgcolor);
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover-bgcolor);
}

/* Секція Benefits */

.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--benefits-list-title-color);
}
.benefits-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція Team. Змінили фон секції, виправілі після цього фон комірок на білий та задали їх ширину. Текст вирівняли по центру як заголовка секції так і всередині комірок */

.team {
  background-color: var(--team-bgcolor);
}
.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--team-title-color);
}

/* Ширину для класу team-member додав виключно для естетики. !!!НЕ ЗАБУТИ ВІДРЕДАГУВАТИ!!!*/

.team-member {
  background-color: var(--team-member-bgcolor);
  text-align: center;
}
.team-members-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--team-member-name-color);
}
.team-member-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція portfolio */

.portfolio-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--portfolio-title-color);
}
.portfolio-list-item {
  text-align: center;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--portfolio-name-color);
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer. Змінено фон, колір лого та розмір його шрифту. Додані hover/focus */
.page-footer {
  background-color: var(--page-footer-bgcolor);
}
.foot-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 18px;
  color: var(--foot-logo-color);
}
.foot-logo:hover,
.foot-logo:focus {
  color: var(--foot-logo-hover-color);
}
.logo-part {
  color: var(--foot-logo-part-color);
}

.foot-text {
  letter-spacing: 0.02em;
  color: var(--foot-text-color);
  line-height: 1.5;
}
